body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main-contents {
    width: 500px;
    padding: 10px;
}

.success, 
.error {
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.success {
    background-color: #83b297;
}

.error {
    background-color: #b28383;
}

.link {
    padding: 0 3px;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    text-wrap: nowrap;
}

#title-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 120px;
    background-color: #000;
    color: #fff;
}

#title-page > h3 {
    position: absolute;
    right: 80px;
    bottom: 20px;
}

#about-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 8px;
    bottom: 8px;
    cursor: pointer;
    user-select: none;
}

#about-text {
    padding: 0 10px 10px 10px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
}

.hidden-about-text {
    display: none;
}

#header > nav {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    margin-top: 5px;
}

.filter-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    background-color: #ccc;
    height: 30px;
    padding: 10px;
}

.hidden-filter {
    display: none;
}

#filter-name {
    width: 70px;
    font-size: 15px;
    font-weight: 600;
}

#specific-filter-options {
    display: flex;
    align-items: center;
    width: 320px;
    margin: 0 10px;
    font-size: 14px;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
    align-items: center;
}

#specific-filter-options>span {
    padding: 5px;
}

.select-date {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.select-date > label {
    font-size: 12px;
    font-weight: 600;
    margin-right: 5px;
}

.item-selected {
    color: #fff;
    font-weight: 600;
}

#filter-submit {
    width: 70px;
    text-align: end;
}

#filter-submit > input {
    height: 25px;
    width: 60px;
    background-color: #ddd;
    font-weight: 600;
    cursor: pointer;
}

main {
    margin-bottom: 50px;
    overflow: auto;
}

#article-content {
    display: flex;
    flex-direction: column-reverse;
}

.articles {
    padding: 10px;
    background-color: #ccc;
    margin-bottom: 10px;
    position: relative;
}

.close-article {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close-article::before,
.close-article:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: black;
    transform-origin: center;
}

.close-article::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-article::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.articles > form > h1 {
    margin-right: 25px;
    padding: 5px 10px;
}

.article-text {
    margin-bottom: 5px;
}

.article-text > span {
    cursor: pointer;
}

.article-text > p {
    padding: 5px 10px;
}

.article-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-info-content {
    display: flex;
    align-items: center;
}

.edit-info-content span {
    padding: 4px;
    max-width: 50px;
    overflow: hidden;
    text-wrap: nowrap;
}

.edit-info-content span:nth-of-type(1) {
    margin-right: 4px;
}

.edit-info-content span:nth-of-type(2) {
    margin-left: 4px;
}

.article-info {
    font-size: 10px;
}

.title-text {
    display: flex;
    flex-direction: column;
}

.title-text > input {
    height: 40px;
    background-color: #f0f8ff00;
    padding: 5px 10px;
    margin-right: 25px;
    border: none;
    font-size: 20px;
}

.title-text > hr {
    border-top: 1px solid black;
    border-bottom: none;
    margin-right: 25px;
}

.title-text > textarea {
    height: 105px;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    border-left: 1px solid black;
    padding: 5px 10px;
    margin: 10px 0px;
    resize: none;
}

.title-text > textarea::placeholder {
    font-size: 25px;
}

.info-submit {
    display: flex;
    justify-content: space-between;
}

.add-info > input {
    width: 58px;
    background: #f0f8ff00;
    border: none;
    padding: 4px;
}

.submitted-button {
    background-color: #00ffff00;
    border: none;
    font-size: 15px;
}

input::placeholder {
    font-size: 15px;
}

#new-article {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#new-article > div {
    padding: 0 5px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
}

footer > hr {
    margin-bottom: 10px;
}